body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f6f6ef;
}

.navbar-cont {
    background-color: #ff6600;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* Distribute items evenly */
    gap: 1rem;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    display: inline-block;
}

.logout-button{
    border: none;
    background-color: #ff6600;
    color: #fff;
    font-weight: bold;

}
.logout-button:hover{
    cursor: pointer;
    text-decoration: underline;
}

.nav-item {
    margin-right: 20px;
   
}

.nav-username {
    margin-right: 20px;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-header:hover {
    color: white;
    text-decoration: none;

}

.welcome {
    margin-top: 20px;
}

.card {
    background-color: white;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.post {
    margin-bottom: 20px;
}

.post-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.post-details {
    font-size: 14px;
    color: #828282;
    margin-bottom: 10px;
}

.comments-link {
    color: #0064bd;
    text-decoration: underline;
    cursor: pointer;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #828282;
}

.post-comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.reply-link {

    padding: 0.2rem;

    font-size: 14px;
    text-decoration: underline;
}

.comment-text {
    margin: 0;
}

a,
.comments-link {
    color: #494747;
}

a:hover,
.comments-link:hover {
    color: #494747;
    text-decoration: underline;
}

.comment-header {
    color: #828282;
    font-size: 15px;
}

.grey {
    color: #828282;
}

.profile-comment-title {
    color: blue;
}

.profile-comment-title:hover {
    color: blue;
}

.page-arrow {
    font-size: 12px;
    color: #828282;
}

.show-hover-time a:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    content: attr(title);
    color: #666;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.show-hover-time a:hover:before {
    opacity: 1;
}