{% load static %} {% load custom_filters %}

<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Hacker News Clone{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="{%static 'index.css' %}" />
</head>
<body>
    <div class="navbar-cont">
        <a class="nav-link nav-header" href="{% url 'home' %}"><strong>
            <h3 class="nav-header">Hacker News Clone</h3>
        </strong></a>
       
        <div class="navbar-nav">
            <div class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}"><strong>Home</strong></a>
            </div>
            <div class="nav-item active">
                <a class="nav-link" href="{% url 'submit_post' %}"><strong>Submit Post</strong></a>
            </div>  
            {% if request.user.is_authenticated %}
            
                <a class="nav-link" href="{% url 'general_profile' user.username%}" ><strong class="nav-username">{{request.user.username}} </strong></a>
                <div>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="logout-button">Logout</button>
                    </form>
                </div>
            
            
            {% else %}
            <div class="nav-item active">
                <a class="nav-link login-register" href="{% url 'login' %}"><strong>Login</strong></a>
            </div>
            <div class="nav-item">
                <a class="nav-link login-register" href="{% url 'signup' %}"><strong>Register</strong></a>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <footer>&copy; 2024 Hacker News Clone</footer>

    <!-- Bootstrap JS and jQuery (adjust the links based on your setup) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
    