<!-- comment_tree.html -->
{% load static %} {% load custom_filters %}
{% for comment in comments %}
    <li>
        <div class="comment-header">
            <strong> <a href="{% url 'general_profile'  username=comment.username %}"> {{comment.username}} |</a></strong>
            <span class="comment-date"> {{ comment.pubDate|humanize_time_difference }} ago</span>
        </div>
        <div class="comment-text">
            {{ comment.text }}
        </div>
        <a href="{% url 'submit_reply' comment_id=comment.id %}" class='reply-link'>
            reply
        </a>
        {% if comment.child_comments %}
            <ul class="nested-comments">
                {% include 'comment_tree.html' with comments=comment.child_comments %}
            </ul>
        {% endif %}
    </li>
{% endfor %}
