{% extends 'base.html' %}
{%load static%} {% load custom_filters %}

<!-- index.html -->
{% block title %}Hacker News{% endblock %}


{% block content %}
    <div class="welcome">
        <div class="card">
            {% for post in posts %}
            <div class="post">
                <div class="post-title">
                    <a href="{{ post.url }}" target="_blank" rel="noopener noreferrer">{{ post.title }}</a>
                    <span style="font-size: 14px; color: #828282">[{{ post.url|url_domain }}]</span>
                </div>
                <div class="post-details">
                    Posted by {{ post.author.username }} | {{ post.pubDate|humanize_time_difference }} ago |
                    <span class="comments-link" onclick="window.location.href='{{ post.get_absolute_url }}'">
                        {{ post.comment_set.count }} {{post.comment_set.count|pluralize:"comment" }}
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
