<!-- user_comments.html -->
{% extends 'base.html' %}
{%load static%} {% load custom_filters %}

{% block title %}User Comments - Hacker News Clone{% endblock %}

{% block content %}
    <div class="user-comments">
        <h2>{{ user.username }}'s Comments</h2>
        <ul class="comment-list">
            {% for comment in comments %}
                {% if comment.parentComment is null %}
                    <li>
                        <div class="comment-header">
                            <strong>{{ comment.author.username }}</strong>
                            <span class="comment-date">{{ comment.pubDate|humanize_time_difference }} ago</span>
                        </div>
                        <div class="comment-text">
                            {{ comment.text }}
                        </div>
                        {% with children=comment.comment_set.all %}
                            {% if children %}
                                <ul class="nested-comments">
                                    {% for child_comment in children %}
                                        <li>
                                            <div class="comment-header">
                                                <strong>{{ child_comment.author.username }}</strong>
                                                <span class="comment-date">{{ child_comment.pubDate|humanize_time_difference }} ago</span>
                                            </div>
                                            <div class="comment-text">
                                                {{ child_comment.text }}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
